[user]
	name = Michael Hoang
	email = enzime@users.noreply.github.com
[core]
	excludesfile = ~/.global_ignore
	hooksPath = /home/enzime/.config/git/hooks
	pager = diff-so-fancy | less --tabs=4 -RFX
[status]
	showUntrackedFiles = all
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[url "https://github.com/"]
	insteadOf = gh:
	insteadOf = ghro:
[url "ssh://git@github.com/"]
	insteadOf = ghp:
	pushInsteadOf = gh:
[url "___PUSH_DISABLED___ "]
	pushInsteadOf = ghro:
[pull]
	ff = only
[init]
	defaultBranch = main
[fetch]
	prune = true
